[submodule "dependencies/modcpp"]
	path = dependencies/modcpp
	url = git://github.com/saglam/modcpp
[submodule "dependencies/poco"]
	path = dependencies/poco
	url = git://github.com/pocoproject/poco.git
[submodule "dependencies/d3"]
	path = dependencies/d3
	url = git://github.com/mbostock/d3.git
