@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(lato-regular.woff) format('woff');
}

body {
  font-family: 'Lato', sans-serif;
  width: 1100px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

h1 {
  padding-left: 5px;
  font-size: 30pt;
}
#container {
  //border: 1px solid #000;
}

#fasterbutton {
  margin: 10px auto 40px;
  width: 140px;
  height: 60px;
  font-size: 23px;
}

#estimatepane{}

#rightpane {
  width: 300px;
  right: 0;
  min-height: 500px;
  position: absolute;
  background-color: #fafafa;
}

#tabs {
  float: left;
  width: 800px;
}

.buttonpanel {
  width: 300px;
  position: absolute;
  bottom: 0;
  right:0;
  text-align: center;
}

svg {
  font: 10px sans-serif;
}

.y.axis path {
  display: none;
}

.y.axis line {
  stroke: #fff;
  stroke-opacity: .2;
  shape-rendering: crispEdges;
}

.y.axis .zero line {
  stroke: #000;
  stroke-opacity: 1;
}

.title {
  font: 300 78px Helvetica Neue;
  fill: #666;
}

.birthyear,
.age {
  text-anchor: middle;
}

.birthyear {
  fill: #fff;
}

rect {
  fill-opacity: .6;
  fill: #e377c2;
}

rect:first-child {
  fill: #1f77b4;
}
